attention_mechanism_c/out32_2048_8_64_48.ds2
attention_mechanism_c/testLeo
attention_mechanism_c/try-txt
attention_mechanism_c/try-txt.64
attention_mechanism_c/testLeo64
attention_mechanism_c/try-txtOMP
attention_mechanism_c/testLeoOMP
attention_mechanism_c/try-txt.64OMP
attention_mechanism_c/testLeo64OMP
